<!DOCTYPE html>
<html>
<head>
<title>Create Blog</title>
<link rel="stylesheet" href="~/css/homeStyle.css" />
<link rel="stylesheet" href="~/css/newPost.css" />

</head>
<body>
	<div class="menu-bar">
		<a href="/">Home</a>
		@* <span th:if="${user} != null">
			<form th:action="@{/logout}" method="POST">
		         <button ><input type="submit" value="Logout"></button>
		    </form>
		</span> *@
		
	</div>
	<div class="form-container">
		<h2 align="center">Write New Post</h2>
		<form asp-action="Publishpost" method="post">
			<div class="form-group">
				<input type="text" id="title" name="title" class="form-input" placeholder="Title" required>
			</div>
			<div class="form-group">
				<textarea id="excerpt" name="excerpt" class="form-textarea" rows="4" placeholder="Excerpt" required></textarea>
			</div>
			<div class="form-group">
				<textarea id="content" name="content" class="form-textarea" rows="10" placeholder="Content" required></textarea>
			</div>
			<div class="form-group">
				<input type="text" name="tagInput" class="form-input" id="tag-input" placeholder="Add Tags (comma-separated)">

			</div>
			<div align="center">
				<button type="submit" class="form-button">Publish</button>
			</div>
		</form>
	</div>
</body>
</html>

