<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="~/css/style.css" >
</head>
<body>
<div class="container">
    <h1>Create Account</h1>
    <div class="form-container">
        <form asp-action="AddUser" method="post">
        	
            <input type="text" placeholder="Name" name="name" required="required"><br>
            <input type="email" placeholder="Email" name="email" required="required"><br>
            <input type="password" placeholder="Password" name="password" required="required"><br>
            <input type="password" placeholder="Confirm Password" name="confirmPassword" required="required"><br>
            <br>
            <button class="button" type="submit">Submit</button>
        </form>
        <p>
            Already have an account? <a asp-action="Login">Login</a>
        </p>
    </div>
</div>
</body>
</html>
